<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dungeons And Wizards</title>
        <link rel="stylesheet" href="{{url_for('static', filename='game.css')}}">
        <script  src="{{url_for('static', filename='game.js')}}" type="module"></script>
    </head>

    <body>

        <canvas width="640" height="480"></canvas>

        <h1 id="outcome"></h1>
        <table>
            <tr>
                <td>Level: <span id="level_num">1</span></td>
                <td>Ammo:<span id="ammo_count">12</span></td>
                <td>Health: <span id="health">100</span></td>
            </tr>
            <tr>
                <td colspan="2">Score: <span id="score">0</span></td>
                <td>Power Up: <span id="powerUp">None</span></td>
            </tr>
        </table>

        <div class="center">
        <a id="playAgain" href="{{url_for('game')}}" class="invisible">Play again?</a> 
        <a  id="main_menu" href="{{url_for('index')}}" class="invisible">Main Menu</a>
        </div>
        
        
    </body>
</html>